<p id="notice"><%= notice %></p>

<h1>Valves</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gpio pin</th>
      <th>Active sprinkle</th>
      <th>Active history</th>
      <th>Cpu2bb color</th>
      <th>Bb pin</th>
      <th>Bb2relay color</th>
      <th>Relay module</th>
      <th>Relay index</th>
      <th>Relay2valve color</th>
      <th>Cmd</th>
      <th>Base time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valves.each do |valve| %>
      <tr>
        <td><%= valve.name %></td>
        <td><%= valve.gpio_pin %></td>
        <td><%= valve.active_sprinkle_id %></td>
        <td><%= valve.active_history_id %></td>
        <td><%= valve.cpu2bb_color %></td>
        <td><%= valve.bb_pin %></td>
        <td><%= valve.bb2relay_color %></td>
        <td><%= valve.relay_module %></td>
        <td><%= valve.relay_index %></td>
        <td><%= valve.relay2valve_color %></td>
        <td><%= valve.cmd %></td>
        <td><%= valve.base_time %></td>
        <td><%= link_to 'Show', valve %></td>
        <td><%= link_to 'Edit', edit_valve_path(valve) %></td>
        <td><%= link_to 'Destroy', valve, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valve', new_valve_path %>
