<p id="notice"><%= notice %></p>

<h1>Sprinkles</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>Start time display</th>
      <th>Duration</th>
      <th>Time input</th>
      <th>Valve</th>
      <th>State</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sprinkles.each do |sprinkle| %>
      <tr>
        <td><%= sprinkle.start_time %></td>
        <td><%= sprinkle.start_time_display %></td>
        <td><%= sprinkle.duration %></td>
        <td><%= sprinkle.time_input %></td>
        <td><%= sprinkle.valve_id %></td>
        <td><%= sprinkle.state %></td>
        <td><%= sprinkle.key %></td>
        <td><%= link_to 'Show', sprinkle %></td>
        <td><%= link_to 'Edit', edit_sprinkle_path(sprinkle) %></td>
        <td><%= link_to 'Destroy', sprinkle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sprinkle', new_sprinkle_path %>
