<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @sprinkle.start_time %>
</p>

<p>
  <strong>Start time display:</strong>
  <%= @sprinkle.start_time_display %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @sprinkle.duration %>
</p>

<p>
  <strong>Time input:</strong>
  <%= @sprinkle.time_input %>
</p>

<p>
  <strong>Valve:</strong>
  <%= @sprinkle.valve_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @sprinkle.state %>
</p>

<p>
  <strong>Key:</strong>
  <%= @sprinkle.key %>
</p>

<%= link_to 'Edit', edit_sprinkle_path(@sprinkle) %> |
<%= link_to 'Back', sprinkles_path %>
